@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --first-color: #ffffff;
    --second-color: #885ad6;
    --third-color: #80808045;
    --paragraph-color: #ffffff80;
}
* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}
/* General Styles */
body {
    background-color: #3c3c3c;
    color: var(--first-color);
    min-height: 100vh;
    overflow: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #6536b5; /* For Firefox (thumb color, track color) */
}
html {
    font-size: 62.5%;
    overflow: auto;
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}
/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: #6536b5;
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    background: #3c3c3c;
}
section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #808080;
    cursor: pointer;
    color: var(--first-color);
    font-size: 1.8rem;
    padding: 1rem 3rem;
}
.btn:hover {
    color: var(--second-color);
    border: 1px solid var(--second-color);
    background-color: #3c3c3c;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--third-color);
    height: 60px;
}
.header .edu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .edu .logo {
    font-size: 2.5rem;
    color: #ffffff;
}
.header .edu .navbar a{
    color: #ffffff;
    margin-left: 2rem;
    font-size: 1.8rem;
}
.header .edu .navbar a:hover {
    color: var(--second-color);
}
#menu-btn {
    cursor: pointer;
    color: var(--second-color);
    font-size: 2.5rem;
    display: none;
}
.home {
    margin-top: 6rem;
}
.home .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
}
.home .container .content {
    flex: 1 1 40rem;
    text-align: center;
}
.home .container .image-container{
    flex: 1 1 40rem;
}
.home .container .image-container img {
    width: 100%;
}
#animate-photo {
    animation: animate-photo 3s infinite;
}
@keyframes animate-photo {
    0% , 100%{
        transform: translateY(0);
    }
    50% {
        transform: translateX(30px);
    }
}
.home .container .content h3 {
    margin-bottom: 1rem;
    font-size: 10rem;
    color: var(--first-color);
    line-height: 1;
}
.home .container .content h3 span{
    color: var(--second-color);
}

.count .info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
    gap: 1.5rem;
    align-items: flex-start;
}
.count .info .courses , .students , .teachers , .satisfaction {
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 2rem;
}
.count .info h3 {
    font-size: 2rem;
    color: var(--first-color);
    margin-bottom: .5rem;
}
.info img {
    width: 20%;  
}
.info .smile {
    width: 17%;
    margin-right: 5px;
}
.count .info p {
    font-size: 1.6rem;
    color: var(--paragraph-color);
}
.about .usage {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.about .usage .image {
    flex: 1 1 40rem;
}
.about .usage .image img{
    width: 100%;
}
.about .usage .content {
    text-align: center;
    flex: 1 1 40rem;
}
.about .usage .content h3 {
    font-size: 3rem;
    color: var(--first-color);
}
.about .usage .content p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--paragraph-color);
}
.heading {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 4rem;
    color: var(--first-color);
}
.animate-sections , .animate-sections_2 , .animate-sections_3{
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.animate-sections h2 , .animate-sections_2 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}
.animate-sections_2 h2 {
    font-size: 56px;
    text-align: center;
    margin-top: 8rem;
}
.our_courses {
    margin-top: 80px;
    display: flex;
    transition: transform 0.5s ease;
}
.animate-sections span , .animate-sections_2 span {
    margin-left: 8px;
    color: var(--second-color);
}
.animate-sections .our_courses .sections{
    display: flex;
    width: 100%;
}
.animate-sections .swiper-slide {
    background-color: var(--third-color);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}
.animate-sections_2 .swiper-slide {
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}
.swiper-slide img {
    width: 70%;
    height: 20rem;
}
.animate-sections_2 .swiper-slide img {
    height: 30rem;
}
.icons i {
    opacity: 0;
    visibility: hidden;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    color: #6536b5;
    background-color: #808080;
    padding: 10px;
    border-radius: 15px;
    transform: scale(0.9); /* Slightly smaller */
    transition: opacity 0.4s ease, transform 0.4s ease; /* Smooth transition */
}
.icons {
    position: absolute;
    display: grid;
    margin-top: -255px;
    gap: 20px;
}
.swiper-slide:hover .icons i{
    opacity: 1;
    visibility: visible; /* Now interactive */
    transform: scale(1); /* Original size */
}
.icons i:hover {
    background-color: var(--first-color);
}
.swiper-slide h3 {
    margin: 1.5rem 0;
    font-size: 2rem;
    color: var(--first-color);
}
.swiper-slide p {
    line-height: 2;
    font-size: 1.6rem;
} 
.swiper-pagination .swiper-pagination-bullet {
    background-color: gray;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--second-color);
}
.animate-sections_2 {
    margin-top: 40px;
    margin-bottom: 70px;
}
.animate-sections_3 .swiper-slide{
    background-color: var(--third-color);
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 4rem;
    user-select: none;
}
.animate-sections_3 .slide_info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}
.animate-sections_3 .swiper-slide .slide_info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.slide_info .stars h3 {
    font-size: 2rem;
    color: var(--first-color);
    margin-bottom: .7rem;
}
.slide_info .stars i{
    font-size: 1.6rem;
    color: var(--second-color);
}
.animate-sections_3 span {
    color: var(--second-color);
}
.animate-sections_3 .swiper-slide p {
    font-size: 1.6rem;
    color: #e3deded4;
    line-height: 2;
}
.contact_us h1 {
    font-size: 63px;
    text-align: center;
    margin-bottom: 20px;
}
.contact_us span {
    color: var(--second-color);
}
.contact_us .content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.contact_us .content .image {
    flex: 1 1 40rem;
}
.contact_us .content .image img {
    width: 100%;
}
.contact_us .content .form {
    flex: 1 1 40rem;
}
.contact_us .form input {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: var(--third-color);
    font-size: 1.8rem;
    color: var(--second-color);
    padding: 1.4rem;
}
.contact_us .content .form label {
    font-size: 1.6rem;
    color: var(--first-color);
}
.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}
.list-input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.input-container .icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--second-color);
}
.list-course {
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    left: 0;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    border: none;
    background-color: #ffffffbb;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.list-course select option {
    padding: 3px;
    cursor: pointer;
}
.list-course select {
    border: none;
    padding: .5rem;
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
}
.list-course option:hover {
    background-color: #f0f0f0;
}
.list-input:focus + .icon + .list-course,
.list-course:hover {
    display: block;
}
.contact_us .content .form .gender {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.contact_us .content .form .gender label {
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: .5rem;
}
.contact_us .content .form .gender #female {
    margin-left: 2rem;
}
.contact_us .content .form .gender input {
    appearance: none;
    background-color: white;
    cursor: pointer;
    border-radius: 50%; 
    width: 2rem; 
    height: 2rem; 
}
.contact_us .content .form .gender input:checked {
    background-color: var(--second-color);
    border-radius: 5rem;
}
.contact_us .content .form .gender #female:checked ~ label[for = "female"] ,
.contact_us .content .form .gender #male:checked ~ label[for = "male"] {
    color: var(--second-color);
}
.contact_us .content .form .form_button button{
    cursor: pointer;
    padding: 6px 25px 6px 25px;
    border-radius: 25px;
    border: none;
    background-color: gray;
    color: #ffffff;
    font-size: 15px;
    margin-top: 35px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.contact_us .content .form .form_button button:hover {
    color: var(--second-color);
    border: 1px solid var(--second-color);
    background-color: #3c3c3c;
}
.footer{
    background-color: var(--third-color);
    text-align: center;
}
.footer .footer_icons a {
    margin: 0 0.3rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background-color: rgb(59, 57, 57);
    color: var(--second-color);
    border-radius: 50%;
}
.footer .footer_icons a:hover {
    color: #3c3c3c;
    background-color: #acaaaa;
}
.footer .credit {
    margin-top: 2.5rem;
    padding: 1.5rem; 
    padding-top: 2.5rem;
    border-top: .1rem solid var(--first-color);
    color: #acaaaa;
    font-size: 2rem;
}
.footer .credit span {
    color: #9a69ed;
}


/*      Media Queries       */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .home .container .content h3 {
        font-size: 8rem;
    }
}

@media (max-width: 768px) {

    #menu-btn {
        display: inline-block;
    }
    #menu-btn.fa-times {
        transform: rotate(180deg);
    }
    .header .edu .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: 0.1rem solid var(--third-color);
        border-bottom: 0.1rem solid var(--third-color);
        background-color: var(--third-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .edu .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .edu .navbar a {
        display: block;
        margin: 2rem;
    }
    .home .container .content h3 {
        font-size: 6rem;
    }
    .animate-sections h2 {
        font-size: 5rem;
    }
    .animate-sections_2 h2  {
        font-size: 3.2rem;
    }
    .animate-sections .sections .swiper-slide img {
        width: 40%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .home .container .content h3 {
        font-size: 5rem
    }
    .animate-sections h2 , .animate-sections_2 h2 , .contact_us h1{
        font-size: 5rem;
    }
    .animate-sections_3 .heading {
        font-size: 3.2rem;
        margin-bottom: 3rem;
    }
}

@media (min-width: 769px ) {
    .animate-sections_2 h2 {
        font-size: 48px;
    }
}